@use '../vars'
@use '../mixins'

.card
  display: grid
  grid-template-areas: "img title title" "img title title" "img words vowels" "img words vowels"
  grid-template-columns: 1fr 2fr 2fr
  grid-template-rows: repeat(4, 1fr)
  grid-gap: 1rem
  margin-top: 4rem
  padding: 2rem 
  font-size: 3rem
  font-weight: bold
  border-radius: 1.5rem
  &:hover
    background-color: vars.$search-field-bg-color
  @include mixins.md
    font-size: 2.6rem
  @include mixins.sm
    font-size: 2.2rem
  @include mixins.xs
    font-size: 1.6rem
    padding: .5rem

.card__img  
  grid-area: img
  border-radius: 1.5rem
  background-color: #666666
  max-width: 20rem
  width: 100%
  height: auto

.card__title
  grid-area: title

.card-info
  display: flex
  flex-direction: column
  align-items: center
 
.card__words
  grid-area: words

.card__vowels
  grid-area: vowels
